<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Class Review</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container mt-5">
		<tr>
			<button class="btn btn-light mb-3"><a href="/courses/new" class="text-decoration-none">新しい授業追加</a></button>
		</tr>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Search Class</h1>
          <form action="/search" method="post">
    
            <div class="form-group">
              <label for="general_search">なんでも検索</label>
              <input id="general_search" class="form-control mb-2" type="search" placeholder="キーワードを入力" aria-label="General Search" name="general_search">
            </div>
    
            <div class="form-group">
              <label for="className">授業名</label>
              <input id="className" class="form-control mb-2" type="text" placeholder="授業名を入力" aria-label="ClassName" name="className">
            </div>
    
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="teacher">教授</label>
                  <select id="teacher" class="form-control mb-2" name="teacher">
                    <!-- 教授のオプション -->
                    <option value="">教授を選んでください</option>
                    <option value="岩井将行">岩井将行</option>
                    <option value="池田雄介">池田雄介</option>
                    <option value="大野誠寛">大野誠寛</option>
                    <option value="中島克人">中島克人</option>
                    <option value="川澄正史">川澄正史</option>
                    <option value="鉄谷信二">鉄谷信二</option>
                    <option value="竜田藤男">竜田藤男</option>
                    <option value="寺田真敏">寺田真敏</option>
                    <option value="井ノ上寛人">井ノ上寛人</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="grade">学年</label>
                  <select id="grade" class="form-control mb-2" name="grade">
                    <!-- 学年のオプション -->
                    <option value="">学年を選んでください</option>
                    <option value="1">1年</option>
                    <option value="2">2年</option>
                    <option value="3">3年</option>
                    <option value="4">4年</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="week">曜日</label>
                  <select id="week" class="form-control mb-2" name="week">
                    <!-- 曜日のオプション -->
                      <option value="">曜日を選んでください</option>
                      <option value="月曜日">月曜日</option>
                      <option value="火曜日">火曜日</option>
                      <option value="水曜日">水曜日</option>
                      <option value="木曜日">木曜日</option>
                      <option value="金曜日">金曜日</option>
                      <option value="土曜日">土曜日</option>
                      <option value="日曜日">日曜日</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="time">時限</label>
                  <select id="time" class="form-control mb-2" name="time">
                    <!-- 時限のオプション -->
                    <option value="">時限を選んでください</option>
                    <option value="1">1限</option>
                    <option value="2">2限</option>
                    <option value="3">3限</option>
                    <option value="4">4限</option>
                    <option value="5">5限</option>
                  </select>
                </div>
              </div>
            </div>
    
            <div class="form-group row">
              <div class="col text-center">
                <button class="btn btn-outline-success px-4" type="submit">検索</button>
              </div>
            </div>
    
          </form>
        </div>
      </div>
    </div>
    
	<div class="container mt-5">

		    <h1>Class All</h1>
		    <table class="table">
		      <thead>
		        <tr>
		          <th scope="col">Class Name</th>
		          <th scope="col">Details</th>
		          <th scope="col">Review</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% @courses.each do |course| %>
		        <tr>
		          <td><%= course.className %></td>
		          <td><button class="btn btn-light"><a href="/courses/<%= course.id %>">Detail</a></button></td>
		          <td><button class="btn btn-light"><a href="/courses/<%= course.id %>/review">Review</a></button></td>
		        </tr>
				<% end %>
		      </tbody>
		    </table>
    </div>
	</div>
</body>
</html>
