<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Class Review</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
		  <div class="container card">
		    <h1>Search Class</h1>
		    <form action="/results" method="post" class="form-inline my-2 my-lg-0">
		      <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
		      <button class="btn btn-outline-success my-2" type="submit">Search</button>
		    </form>
		  </div>
		</div>
		<div>
		<tr>

			<button class="btn btn-light"><a href="/courses/new" class="text-decoration-none">新しい授業追加</a></button>
		</tr>
		<div class="container mt-5">
		    <h1>Class All</h1>
		    <table class="table">
		      <thead>
		        <tr>
		          <th scope="col">Class Name</th>
		          <th scope="col">Details</th>
		          <th scope="col">Review</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% @courses.each do |course| %>
		        <tr>
		          <td><%= course.className %></td>
		          <td><button class="btn btn-light"><a href="/courses/<%= course.id %>">Detail</a></button></td>
		          <td><button class="btn btn-light"><a href="/courses/<%= course.id %>/review">Review</a></button></td>
		        </tr>
				<% end %>
		      </tbody>
		    </table>
        </div>
		</div>
		</div>
	</div>
</body>
</html>
