<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Class Review</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
        <style>
        .vertical-center {
          min-height: 80vh; /* 画面の高さに合わせてコンテナの高さを設定 */
          display: flex;
          align-items: center; /* 垂直方向の中央揃えを設定 */
          justify-content: center; /* 水平方向の中央揃えを設定 */
          margin-top: calc(- 30vh); /* 50pxはナビゲーションバーの推定高さです */
        }

        .container.d-flex.h-100 {
            min-height: 100vh; /* Viewport Height を基準に100%の高さを確保 */
            display: flex; /* Flexboxコンテナを有効化 */
            align-items: center; /* 垂直方向の中央揃え */
            justify-content: center; /* 水平方向の中央揃え */
        }

        .card {
            border-radius: 30px;
            border: 3px solid #A8C3CC;
            background: #ECEFF1;
        }

        .card-title, .form-label {
            color: #48636E;
        }

        .card-body {
            padding: 2rem;
        }

        .form-control {
            border-color: #a8c3cc;
            color: #48636E;
        }

        .btn-outline-success {
            border-color: #a8c3cc;
            color: #48636E;
        }

        .btn-outline-success:hover {
            background-color: #a8c3cc;
            color: white;
        }
        
        label{
            color: #48636E;
        }
    </style>
</head>
<body>
    <div class="container vertical-center">
        <div class="row justify-content-center">
            <div class="col-md-14">
                <h1 class="card-title">授業検索</h1>
                <div class="card">
                    <div class="card-body">
            <form action="/search" method="post">

                <!-- なんでも検索 -->
                <div class="form-group mb-3">
                    <label for="general_search">なんでも検索</label>
                    <input id="general_search" class="form-control" type="search" placeholder="キーワードを入力" aria-label="General Search" name="general_search">
                </div>

                <!-- 授業名 -->
                <div class="form-group mb-3">
                    <label for="className">授業名</label>
                    <input id="className" class="form-control" type="text" placeholder="授業名を入力" aria-label="ClassName" name="className">
                </div>

                <!-- 検索オプションの行 -->
                <div class="row mb-3">
                    <!-- 教授 -->
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="teacher">教授</label>
                            <select id="teacher" class="form-control" name="teacher">
                                <!-- 教授のオプション -->
                                <option value="">教授を選んでください</option>
                                <option value="岩井将行">岩井将行</option>
                                <option value="池田雄介">池田雄介</option>
                                <option value="大野誠寛">大野誠寛</option>
                                <option value="中島克人">中島克人</option>
                                <option value="川澄正史">川澄正史</option>
                                <option value="鉄谷信二">鉄谷信二</option>
                                <option value="竜田藤男">竜田藤男</option>
                                <option value="寺田真敏">寺田真敏</option>
                                <option value="井ノ上寛人">井ノ上寛人</option>
                            </select>
                        </div>
                    </div>

                    <!-- 学年 -->
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="grade">学年</label>
                            <select id="grade" class="form-control" name="grade">
                                <!-- 学年のオプション -->
                              <option value="">学年を選んでください</option>
                              <option value="1">1年</option>
                              <option value="2">2年</option>
                              <option value="3">3年</option>
                              <option value="4">4年</option>
                            </select>
                        </div>
                    </div>

                    <!-- 曜日 -->
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="week">曜日</label>
                            <select id="week" class="form-control" name="week">
                                <!-- 曜日のオプション -->
                                <option value="">曜日を選んでください</option>
                                <option value="月曜日">月曜日</option>
                                <option value="火曜日">火曜日</option>
                                <option value="水曜日">水曜日</option>
                                <option value="木曜日">木曜日</option>
                                <option value="金曜日">金曜日</option>
                                <option value="土曜日">土曜日</option>
                                <option value="日曜日">日曜日</option>
                            </select>
                        </div>
                    </div>

                    <!-- 時限 -->
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="time">時限</label>
                            <select id="time" class="form-control" name="time">
                                <!-- 時限のオプション -->
                              <option value="">時限を選んでください</option>
                              <option value="1">1限</option>
                              <option value="2">2限</option>
                              <option value="3">3限</option>
                              <option value="4">4限</option>
                              <option value="5">5限</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 検索ボタン -->
                <div class="form-group text-center">
                    <button class="btn btn-outline-success px-5" type="submit">検索</button>
                </div>

            </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<button class="btn btn-light mb-3"><a href="/courses/new" class="text-decoration-none">新しい授業追加</a></button>-->
</body>
</html>
