<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>授業口コミサイト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <div class="navbar-brand">
                <a href="/">授業口コミサイト</a>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if !current_user.nil? %>
                    <li class="nav-item nav-link">こんにちは、<%= current_user.name %>さん</li>
                    <li class="nav-item"><a href="/signout" class="nav-link">ログアウト</a></li>
                <% else %>
                <li class="nav-item nav-link">新規ユーザーですか？</li>
                <li class="nav-item"><a href="/signin" class="nav-link">ログイン</a></li>
            　　<li class="nav-item"><a href="/signup" class="nav-link">新規登録</a></li>
            　　<% end %>
            </ul>
        </div>
    </nav>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>