<div>
    <form action="/tasks" method="post">
        <input type="text" name="title" placeholder="タイトル">
        <input type="text" name="due_date" placeholder="締め切り">
        <input type="submit" value="登録">
    </form>
</div>