<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- レスポンシブ対応のビューポート設定 -->
	<title>Class Review</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .card-form{
        border-color: #a8c3cc; /* Border color */
        border-radius: 10px;
        border: 1px solid #A8C3CC;
        background: #ECEFF1;
    }
  </style>
</head>
<body>

     <div class="container mt-5">

        <p>Course ID: <%= @courseId %></p>
 <!-- 口コミ投稿フォーム -->
    <h1 class="mb-4"><%= @courseName %> の口コミ投稿</h1>
    <form action="/check_form" method="post">
        <!-- 隠しフィールドでコースIDを送信 -->
        <input required type="hidden" name="courseId" value="<%= @courseId %>">
        
        <!-- 各質問項目 -->
        <!-- 課題の量 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">1. 課題の量<span class="text-danger">*</span></div>
          <div class="card-body">
            <input type="radio" name="quantity" value="多い" id="quantityHigh" required>
            <label for="quantityHigh">多い</label>

            <input required type="radio" name="quantity" value="普通" id="quantityMidium">
            <label for="quantityMidium">普通</label>

            <input required type="radio" name="quantity" value="少ない" id="quantityLow">
            <label for="quantityLow">少ない</label>
          </div>
        </div>
      
        <!-- 授業資料の有無 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">2. 授業資料の有無<span class="text-danger">*</span></div>
          <div class="card-body">
            <input required type="radio" name="reference" value="あり" id="referenceYes">
            <label for="referenceYes">あり</label>

            <input required type="radio" name="reference" value="なし" id="referenceNo">
            <label for="referenceNo">なし</label>
          </div>
        </div>

        <!-- グループワークの有無 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">3. グループワークの有無<span class="text-danger">*</span></div>
          <div class="card-body">
            <input required type="radio" name="groupWork" value="あり" id="groupWorkYes">
            <label for="groupWorkYes">あり</label>

            <input required type="radio" name="groupWork" value="なし" id="groupWorkNo">
            <label for="groupWorkNo">なし</label>
          </div>
        </div>

        <!-- テストの有無 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">4. テストの有無<span class="text-danger">*</span></div>
          <div class="card-body">
            <input required type="radio" name="hasTests" value="あり" id="hasTestsYes">
            <label for="hasTestsYes">あり</label>

            <input required type="radio" name="hasTests" value="なし" id="hasTestsNo">
            <label for="hasTestsNo">なし</label>
          </div>
        </div>

        <!-- レポートの有無 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">5. レポートの有無<span class="text-danger">*</span></div>
          <div class="card-body">
            <input required type="radio" name="hasReports" value="あり" id="hasReportsYes">
            <label for="hasReportsYes">あり</label>

            <input required type="radio" name="hasReports" value="なし" id="hasReportsNo">
            <label for="hasReportsNo">なし</label>
          </div>
        </div>

        <!-- プログラミングの有無 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">6. プログラミングの有無<span class="text-danger">*</span></div>
          <div class="card-body">
            <input required type="radio" name="hasProgramming" value="あり" id="hasProgrammingYes">
            <label for="hasProgrammingYes">あり</label>

            <input required type="radio" name="hasProgramming" value="なし" id="hasProgrammingNo">
            <label for="hasProgrammingNo">なし</label>
          </div>
        </div>

        <!-- この授業はどんな人に向き・不向きか？コメント -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">7. この授業はどんな人に向き・不向き？</div>
          <div class="card-body">
            <textarea name="targetAudience" id="targetAudience" class="form-control"></textarea>
          </div>
        </div>

        <!-- その他コメント -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">8. その他コメント</div>
          <div class="card-body">
            <textarea name="otherComments" id="otherComments" class="form-control"></textarea>
          </div>
        </div>

        <!-- 総合評価 -->
        <div class="card-form mb-3">
          <div class="card-header bg-orange text-black">9. 総合評価<span class="text-danger">*</span></div>
          <div class="card-body">
          <div class="star-rating" style="text-align: left;">
              <input required type="radio" id="star5" name="rating" value="5">
              <label for="star5"></label>
              <input required type="radio" id="star4" name="rating" value="4">
              <label for="star4"></label>
              <input required type="radio" id="star3" name="rating" value="3">
              <label for="star3"></label>
              <input required type="radio" id="star2" name="rating" value="2">
              <label for="star2"></label>
              <input required type="radio" id="star1" name="rating" value="1">
              <label for="star1"></label>
          </div>
        </div> 
        </div>
  
        <!-- 送信ボタン -->
        <button type="submit" class="btn">送信</button>
    </form>
    
    
  </div>
</body>
</html>
