<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
		  <div class="container card">
		    <h1>授業検索</h1>
		    <form action="/results" method="post" class="form-inline my-2 my-lg-0">
		      <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
		      <button class="btn btn-outline-success my-2" type="submit">Search</button>
		    </form>
		  </div>
		</div>
	</div>
</body>