<div class="container">
    <form action="/signin" method="post">
        <div>
            <div>
                <input class="form-control" name="name" placeholder="名前を入力"><br>
                <input class="form-control" name="password" type="password" placeholder="パスワードを入力"><br>
            </div>
            <div>
                <input class="form-control" type="submit" value="ログイン">
            </div>
        </div>
    </form>
</div>