<div>
    <form action="/signup" method="post">
        <div>
            <div>
                <input name="name" placeholder="名前を入力"><br>
                <input name="password" type="password" placeholder="パスワードを入力"><br>
                <input name="password_confirmation" type="password" placeholder="パスワードをもう一度入力"><br>
            </div>
            <div>
                <input type="submit" value="登録">
            </div>
        </div>
    </form>
</div>