


/*.row{*/
/*  color: red;*/
/*}*/
@font-face {
    font-family: 'Hiragino Maru Gothic ProN';
    src: url('/fonts/ヒラギノ丸ゴProNW4.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hiragino Maru Gothic ProN', sans-serif;
    color: #48636E;
}

img{
  width: 20%;
}

        .navbar {
            background-color: #FE7A2B; /* 修正された色コード */
            padding-top: 1rem; /* 上部のパディングを追加 */
            padding-bottom: 1rem; /* 下部のパディングを追加 */
        }
        .text-decoration-none {
            text-decoration: none !important;
        }
        .navbar-light .navbar-brand a {
            color: white !important;
        }
        .navbar-light .navbar-nav .nav-link {
            color: white;
        }
        
        .navbar-light .navbar-brand {
            color: white;
        }


a{
    text-decoration: none;
    /*color: black;*/
    font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}

.card{
  border-color: #a8c3cc; /* Border color */
  border-radius: 20px;
  border: 1.5px solid #A8C3CC;
  background: #ECEFF1;
}


.btn {
    border-color: #a8c3cc; /* Border color */
    color: #333; /* Text color */
    background-color: #fff; 
    border-radius: 5px;
}

/* Button hover state */
.btn:hover {
    color:  #FE7A2B; /* Text color on hover */
}

.card-class{
  border: 1px solid #A8C3CC;
  border-color: #a8c3cc; /* Border color */
  border-radius: 20px;
  background: #ECEFF1;
}

.error-message {
  color: red;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; /* スペースの追加 */
}

  .star-rating {
    direction: rtl; /* Reverse the order of the inline elements (stars) */
    font-size: 0;
  }
  .star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
  }
  

  .ratings{
    color: #FE7A2B;
    font-size: 25px;
  }
  .star-rating label {
    font-size: 2rem;
    padding: 0 5px;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition for scaling effect */
    color: #ccc; /* Default star color */
  }
  .star-rating label::before {
    content: "☆"; /* Default empty star */
    color: #ccc; /* Default star color, same as label */
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input[type="radio"]:checked ~ label::before {
    color: #F4B65D; /* Make the stars yellow on hover/checked */
  }
  .star-rating input[type="radio"]:checked ~ label::before {
    content: "★"; /* Filled star */
  }
  .star-rating input[type="radio"]:checked + label {
    transform: scale(1.3); /* Scale the selected star slightly */
  }
  
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  color: #0156B3; 
}

  @media (max-width: 768px) { /* Bootstrapのスマホ用ブレークポイント */
    .break-sm {
      display: block; /* スマホでの表示時にブロック要素にする */
    }
    img {
    width: 50%; /* スマートフォン用の幅に調整 */
    max-width: 100%; /* 最大幅は100%のまま */
  }
  }
